<div id="activate-tails-verification"></div> <!-- Needed to activate the verification extension -->
<div id="extension-version">0.94</div> <!-- Minimum version of the extension -->

<div class="row">

  <div class="col-md-6"> <!-- Direct download -->
    <h2>Direct download</h2>

    <div class="supported-browser no-js">
      <h3><span class="step-number">1.</span>Download Tails</h3>
      <a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso" class="use-mirror-pool btn btn-primary indent">Download Tails 3.1 ISO image (1.2 GB)</a>
      <p class="indent"><a id="already-downloaded">I already downloaded Tails 3.1.</a></p>

      <div id="step-verify-direct">
        <h3><span class="step-number">2.</span>Verify your download using your browser</h3>
        <div class="caution indent">
          <p><b>For your security, always verify your download!</b><br/>
                Our browser extension makes it quick and easy.</p>
          <p class="floating-toggleable-link">[[!toggle id="why-verify" text="Why?"]]</p>

          <div id="why-verify" class="floating-toggleable">
          [[!toggleable id="why-verify" text="""
          [[!toggle id="why-verify" text="X"]]
          <p>With an unverified download, you might:</p>
          <ul>
            <li>Lose time if your download is incomplete or broken due to an error during the download.
                This is quite frequent.</li>
            <li>Get hacked while using Tails if our download mirrors have been compromised and are serving malicious downloads.<br/>
                <a href="http://blog.linuxmint.com/?p=2994">This already happened to other operating systems.</a></li>
            <li>Get hacked while using Tails if your download is modified on the fly by an attacker on the network.<br/>
                <a href="https://en.wikipedia.org/wiki/DigiNotar">This is possible for strong adversaries.</a></li>
          </ul>
          """]]
          </div>

        </div>
        <div id="install-extension" class="indent">
          <a href="https://addons.mozilla.org/firefox/downloads/latest/tails-verification/addon-tails-verification-latest.xpi" class="install-extension-btn supported-browser firefox btn btn-primary">Install <u>Tails Verification</u> extension</a>
          <a class="install-extension-btn supported-browser chrome btn btn-primary">Install <u>Tails Verification</u> extension</a>
          <div class="no-js">
            <p>You seem to have JavaScript disabled. To use our browser
               extension, please allow all this page:</p>
            [[!img screenshots/allow_js.png link="no"]]
          </div>
        </div>
        <div id="update-extension" class="indent block">
          <p>Your extension is an older version.</p>
          <a href="https://addons.mozilla.org/firefox/downloads/latest/tails-verification/addon-tails-verification-latest.xpi" class="install-extension-btn firefox btn btn-primary">Update extension</a>
          <a class="install-extension-btn chrome btn btn-primary">Update extension</a>
        </div>
        <div id="verification" class="indent block">
          <p id="extension-installed" class="block"><u>Tails Verification</u> extension Installed!</p>
          <!--<a id="verify-download" class="btn btn-primary">Verify download&hellip;</a>-->
          <label id="verify-download-wrapper" class="btn btn-primary btn-verify">
            Verify download&hellip;
            <input id="verify-download" type="file"/>
          </label>
          <div id="verifying-download">
            <p>Verifying <span id="filename">$FILENAME</span>&hellip;</p>
            <div class="progress">
              <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <p id="verification-successful" class="block">Verification successful!</p>
          <div id="verification-failed">
            <p><b>Verification failed!</b></p>
            <p><a href="[[!inline pages="inc/stable_amd64_iso_url" raw="yes" sort="age"]]" id="download-iso-again" class="use-mirror-pool">Please try to download again&hellip;</a></p>
            <p class="floating-toggleable-link">[[!toggle id="why-failed" text="Why?"]]</p>

            <div id="why-failed" class="floating-toggleable">
            [[!toggleable id="why-failed" text="""
            [[!toggle id="why-failed" text="X"]]
            <p>Most likely, the verification failed because of an error
            or interruption during the download.</p>

            <p>Less likely, the verification might have failed because
            of a malicious download from our download mirrors or due to
            a network attack in your country or local network.</p>

            <p>Downloading again is usually enough to fix this
            problem.</p>
            """]]
            </div>

          </div>
          <div id="verification-failed-again">
            <p><b>Verification failed again!</b></p>
            <p>Please try to download again from a different place or a different computer&hellip;</p>
            <p class="floating-toggleable-link">[[!toggle id="why-failed-again" text="Why?"]]</p>

            <div id="why-failed-again" class="floating-toggleable">
            [[!toggleable id="why-failed-again" text="""
            [[!toggle id="why-failed-again" text="X"]]
            <p>The verification might have failed again because of:</p>
            <ul>
              <li>A software problem in our verification extension</li>
              <li>A malicious download from our download mirrors</li>
              <li>A network attack in your country or local network</li>
            </ul>

            <p>Trying from a different place or a different computer might solve any of these issues.</p>
            """]]
            </div>
          </div>
        </div>
      </div>

      <div id="step-continue-direct">
        <h3><span class="step-number">3.</span>Continue installing</h3>
      </div>
      <div id="continue-link-direct" class="indent">
        <a id="skip-download-direct">Skip download</a>
        <a id="skip-verification-direct">Skip verification</a>
        <a id="next-direct" class="btn btn-primary">Next</a>
      </div>
    </div> <!-- Supported browser & No JS -->

    <div class="outdated-browser unsupported-browser">
      <p>You are using <u><b><span id="detected-browser">$DETECTED-BROWSER</span></b></u>.</p>
      <p>Direct download is only available for:</p>
      <ul>
        <li>Firefox <span id="min-version-firefox">$MINVER-FIREFOX</span> and later (<a href="https://www.mozilla.org/firefox/new/">Download</a>)</li>
        <li>Chrome and Chromium <span id="min-version-chrome">$MINVER-CHROME</span> and later (<a href="https://www.google.com/chrome/">Download</a>)</li>
        <li>Tor Browser <span id="min-version-tor-browser">$MINVER-TOR-BROWSER</span> and later (<a href="https://www.torproject.org/download/download-easy.html">Download</a>)</li>
      </ul>
    </div>
    <div class="outdated-browser">
      <p>Please update your browser to the latest version.</p>
    </div>
    <div class="unsupported-browser">
      <div class="caution">
        <p><b>For your security, always verify your download!</b><br/>
              Our browser extension for Firefox, Chrome, Chromium, and Tor Browser makes this quick and easy.</p>
        <p><a>Why?</a></p>
      </div>
      <p>Copy and paste this link in Firefox, Chrome, Chromium, or Tor Browser:</p>
      <p>https://tails.boum.org/install/download/</p>
    </div> <!-- Outdated browser -->
  </div> <!-- Direct download -->

  <div class="col-md-6">
    <h2>BitTorrent download</h2>
    <p class="floating-toggleable-link">[[!toggle id="what-is-bittorrent" text="What is BitTorrent?"]]</p>

    <div id="what-is-bittorrent" class="floating-toggleable">
    [[!toggleable id="what-is-bittorrent" text="""
    [[!toggle id="what-is-bittorrent" text="X"]]
    <p>BitTorrent is a peer-to-peer technology for file sharing that makes your
    download faster and easier to resume.</p>

    <p>You need to install BitTorrent software on your computer, like
    <a href="https://transmissionbt.com/">Transmission</a> (for Windows, macOS, and Linux).</p>

    <p>BitTorrent doesn't work over Tor or in Tails.</p>
    """]]
    </div>

    <h3><span class="step-number">1.</span>Download Tails (Torrent file)</h3>
    <a href="[[!inline pages="inc/stable_amd64_torrent_url" raw="yes" sort="age"]]" id="download-torrent" class="btn btn-primary indent">Download Tails 3.1 Torrent file</a>

    <div id="step-verify-bittorrent">
      <h3><span class="step-number">2.</span>Verify your download using BitTorrent</h3>
      <p class="indent">Your BitTorrent client will automatically verify your download when it is complete.</p>
    </div>

    <div id="step-continue-bittorrent">
      <h3><span class="step-number">3.</span>Continue installing</h3>
    </div>
    <div id="continue-link-bittorrent" class="indent">
      <a id="skip-download-bittorrent">Skip download</a>
      <a id="next-bittorrent" class="btn btn-primary">Next</a>
    </div>
  </div> <!-- BitTorrent download -->

</div>
