/* Display No JS version by default */

.supported-browser,
.outdated-browser,
.unsupported-browser {
  display: none;
}

.no-js {
  display: initial;
}

#skip-verification-direct,
#verification,
#update-extension,
#verifying-download,
#verification-successful,
#verification-failed,
#verification-failed-again,
#skip-download-direct,
#skip-download-bittorrent,
#extension-version {
  display: none;
}

#verify-download-wrapper input {
  display: none;
}

.transparent {
  opacity: 0.3;
}

/* Layout */

#content {
  padding-left: 0 !important;
}

.btn {
  color: white !important;
  background: #53b351 !important;
  border: none;
  padding: 6px 12px !important;
}

span.step-number {
  display: inline-block;
  width: 30px;
}

.indent {
  margin-left: 30px !important;
}

/* FLOATING TOGGLEABLE FOR 'WHY?' CONTEXTUAL HELP */

/* Hide toggleable by default so they don't appear when there is no JavaScript. */
.floating-toggleable-link {
  display: none;
}

.floating-toggleable div.toggleable {
  display: none;
  background: white !important;
  border: 1px solid #53b351 !important;
  -webkit-box-shadow: 5px 5px #53b351;
  box-shadow: 5px 5px #53b351;
  padding: 15px 30px !important;
  margin: -1em auto !important;
  position: absolute !important;
  text-align: left;
  font-size: 13px;
  z-index: 1;
  width: 35em;
}

/* X for closing the toggle */
.floating-toggleable a.toggle {
  border: none !important;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 5px;
}

#already-downloaded {
  cursor: pointer;
}

#install-extension .no-js img {
  border: 1px solid black;
}
